* {
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  
  vertical-align: text-top;
}
body {
  /*padding: 20px;
  margin: 20px;*/
  background-color:#566672;
}

h1 {
  background-color: #333333;
  color: #FFFFFF;
}

h2 {
  background-color: #333333;
  color: #FFFFFF;
}

.div-border {
  border: 1px solid #000000;
  overflow: hidden;
}

.rounded-corner {
  border-radius: 8px;
}

.div-shadow {
  box-shadow: -4px -4px 4px #333333;
}

.div-content {
  background-color: #FFFFFF !important;
  max-width:1060px;
}

.div-game {
  float: right;
  margin: 10px;
  
  overflow: hidden;
  max-width:192px;
  
}
.break-game {
  float:none;
}


/* Nav Bar */
ul.nav  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
  border-right: 1px solid #000000;
}
li.nav:last-child {
  border-right: none;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #111;
}

/* Video Playlist */
ul.playlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
}
li.active {
  background-color: #4CAF50;
}

li.playlist a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

li.playlist a:hover {
  background-color: #555;
  color: white;
}
